WcfDemo1/WinformWcfDemo2/Connected Services/ServiceReference1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28236/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28236/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="IService2_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_BuyTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyTickets" />
  </wsdl:message>
  <wsdl:message name="IService2_BuyTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetRemainingNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingNum" />
  </wsdl:message>
  <wsdl:message name="IService2_GetRemainingNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AddTicket" message="tns:IService2_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AddTicketResponse" message="tns:IService2_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/BuyTickets" message="tns:IService2_BuyTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/BuyTicketsResponse" message="tns:IService2_BuyTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetRemainingNum" message="tns:IService2_GetRemainingNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetRemainingNumResponse" message="tns:IService2_GetRemainingNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTicket">
      <soap:operation soapAction="http://tempuri.org/IService2/AddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <soap:operation soapAction="http://tempuri.org/IService2/BuyTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingNum">
      <soap:operation soapAction="http://tempuri.org/IService2/GetRemainingNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:28236/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>